doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    hr
    div 
      a(href='/') Home
    div 
      a(href='/problem') Problem
    div 
      a(href='/users') Users
    div 
      a(href='/courses') Courses
    div
      a(href='/images') Images
    
